<a href="https://colab.research.google.com/github/mehul-sonthalia1987/Flip-Robo/blob/Web-Scraping/ICC_Womens_Allrounder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Player_Names=[]
Player_Team=[]
Player_Rating=[]
Player = soup.select('div.rankings-block__banner--name')
Player_Names.append(Player[2].text)
rest_Player=soup.select('td.table-body__cell.name')
for i in rest_Player[18:27]:
  Player_Names.append(i.text.replace('\n', ''))

Country=soup.select('div.rankings-block__banner--nationality')
temp=[]
temp.append(Country[2].text.replace('\n',''))
temp[0]=temp[0].replace(' ','')
temp_str=""
temp_alphabet=""
temp_number=""
temp_str=str(temp)

temp_alphabet=temp_str[slice(2,4)]
Player_Team.append(temp_alphabet)
temp_number=temp_str[slice(4,7)]
Player_Rating.append(temp_number)

Rest_Country=soup.select('td.table-body__cell.nationality-logo')
for i in Rest_Country[18:27]:
  Player_Team.append(i.text.replace('\n', ''))

Rest_Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rest_Rating[18:27]:
  Player_Rating.append(i.text.replace('\n', ''))

import pandas as pd
ICC_Womens_AllRounder = pd.DataFrame({})
ICC_Womens_AllRounder['Player']=Player_Names
ICC_Womens_AllRounder['Team']=Player_Team
ICC_Womens_AllRounder['Rating']=Player_Rating
ICC_Womens_AllRounder

             Player Team Rating
0    Marizanne Kapp   SA    418
1      Ellyse Perry  AUS    418
2   Stafanie Taylor   WI    410
3    Natalie Sciver  ENG    349
4     Deepti Sharma  IND    343
5     Jess Jonassen  AUS    307
6  Ashleigh Gardner  AUS    252
7  Dane van Niekerk   SA    243
8     Sophie Devine   NZ    242
9       Amelia Kerr   NZ    236

In [ ]:
e