<a href="https://colab.research.google.com/github/mehul-sonthalia1987/Flip-Robo/blob/Web-Scraping/ICC_Womens_Batsman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Batsman_Names=[]
Batsman_Team=[]
Batsman_Rating=[]
Batsman = soup.select('div.rankings-block__banner--name')
Batsman_Names.append(Batsman[0].text)
Batsman_Names
rest_Batsman=soup.select('td.table-body__cell.name')
for i in rest_Batsman[:9]:
  Batsman_Names.append(i.text.replace('\n', ''))

Country=soup.select('div.rankings-block__banner--nationality')
temp=[]
temp.append(Country[0].text.replace('\n',''))
temp[0]=temp[0].replace(' ','')
temp_str=""
temp_alphabet=""
temp_number=""
temp_str=str(temp)
temp_alphabet=temp_str[slice(2,5)]
Batsman_Team.append(temp_alphabet)
temp_number=temp_str[slice(5,8)]
Batsman_Rating.append(temp_number)

Rest_Country=soup.select('td.table-body__cell.nationality-logo')
for i in Rest_Country[:9]:
  Batsman_Team.append(i.text.replace('\n', ''))


Rest_Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rest_Rating[:9]:
  Batsman_Rating.append(i.text.replace('\n', ''))

import pandas as pd
ICC_Womens_Batsman = pd.DataFrame({})
ICC_Womens_Batsman['Player']=Batsman_Names
ICC_Womens_Batsman['Team']=Batsman_Team
ICC_Womens_Batsman['Rating']=Batsman_Rating
ICC_Womens_Batsman

              Player Team Rating
0     Tammy Beaumont  ENG    765
1        Lizelle Lee   SA    758
2       Alyssa Healy  AUS    756
3    Stafanie Taylor   WI    746
4        Meg Lanning  AUS    723
5  Amy Satterthwaite   NZ    715
6    Smriti Mandhana  IND    710
7        Mithali Raj  IND    709
8     Natalie Sciver  ENG    685
9    Laura Wolvaardt   SA    683