<a href="https://colab.research.google.com/github/mehul-sonthalia1987/Flip-Robo/blob/Web-Scraping/ICC_Womens.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Team_Names=[]
Team_Matches=[]
Team_Points=[]
Team_Rating=[]


Teams = soup.select('span.u-hide-phablet')
for i in Teams[:10]:
  Team_Names.append(i.text.replace('\n', ''))

Aus_Matches=soup.select('td.rankings-block__banner--matches')
Team_Matches.append(Aus_Matches[0].text.replace('\n',''))
Rest_Matches=soup.select('td.table-body__cell.u-center-text')
for i in Rest_Matches[0:17:2]:
  Team_Matches.append(i.text.replace('\n', ''))
Team_Matches

Aus_Points=soup.select('td.rankings-block__banner--points')
Team_Points.append(Aus_Points[0].text.replace('\n',''))
for i in Rest_Matches[1:18:2]:
  Team_Points.append(i.text.replace('\n', ''))
Team_Points

Aus_Rating=soup.select('td.rankings-block__banner--rating.u-text-right')
Team_Rating.append(Aus_Rating[0].text.replace('\n',''))
Team_Rating[0]=Team_Rating[0].replace(' ','')
Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rating[:9]:
  Team_Rating.append(i.text.replace('\n', ''))
Team_Rating

import pandas as pd
ICC_Womens = pd.DataFrame({})
ICC_Womens['Team']=Team_Names
ICC_Womens['Matches']=Team_Matches
ICC_Womens['Points']=Team_Points
ICC_Womens['Rating']=Team_Rating
ICC_Womens

           Team Matches Points Rating
0     Australia      18  2,955    164
1  South Africa      24  2,828    118
2       England      17  1,993    117
3         India      20  2,226    111
4   New Zealand      21  1,947     93
5   West Indies      12  1,025     85
6      Pakistan      15  1,101     73
7    Bangladesh       5    306     61
8     Sri Lanka      11    519     47
9       Ireland       2     25     13