<a href="https://colab.research.google.com/github/mehul-sonthalia1987/Flip-Robo/blob/Web-Scraping/ICC_Mens.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [129]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Team_Names=[]
Team_Matches=[]
Team_Points=[]
Team_Rating=[]

Teams = soup.select('span.u-hide-phablet')
for i in Teams[:10]:
  Team_Names.append(i.text.replace('\n', ''))

Nz_Matches=soup.select('td.rankings-block__banner--matches')
Team_Matches.append(Nz_Matches[0].text.replace('\n',''))
Rest_Matches=soup.select('td.table-body__cell.u-center-text')
for i in Rest_Matches[0:17:2]:
  Team_Matches.append(i.text.replace('\n', ''))
Team_Matches

Nz_Points=soup.select('td.rankings-block__banner--points')
Team_Points.append(Nz_Points[0].text.replace('\n',''))
for i in Rest_Matches[1:18:2]:
  Team_Points.append(i.text.replace('\n', ''))
Team_Points

Nz_Rating=soup.select('td.rankings-block__banner--rating.u-text-right')
Team_Rating.append(Nz_Rating[0].text.replace('\n',''))
Team_Rating[0]=Team_Rating[0].replace(' ','')
Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rating[:9]:
  Team_Rating.append(i.text.replace('\n', ''))
Team_Rating

import pandas as pd
ICC_Mens = pd.DataFrame({})
ICC_Mens['Team']=Team_Names
ICC_Mens['Matches']=Team_Matches
ICC_Mens['Points']=Team_Points
ICC_Mens['Rating']=Team_Rating
ICC_Mens

           Team Matches Points Rating
0   New Zealand      17  2,054    121
1     Australia      25  2,945    118
2         India      29  3,344    115
3       England      27  3,100    115
4  South Africa      20  2,137    107
5      Pakistan      24  2,323     97
6    Bangladesh      27  2,438     90
7   West Indies      27  2,222     82
8     Sri Lanka      24  1,876     78
9   Afghanistan      17  1,054     62