In [ ]:
!pip install bs4
!pip install requests

In [5]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 aria-label="" class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 aria-label="Change language variant" class="vector-menu-heading" id="p-variants-label">
<span class="vector-menu-heading-label">Variants</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-cactions-label">
<span class="vector-menu-heading-label">More</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

In [7]:
from bs4 import BeautifulSoup
import requests
import re
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]
imdb = []
for index in range(0, len(movies)):
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,            
            "rating": ratings[index]}
    imdb.append(data)

for item in imdb:
    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', 'Rating:', item['rating'])

1 - The Shawshank Redemption (1994) - Rating: 9.22112778471718
2 - The Godfather (1972) - Rating: 9.146912986532637
3 - The Godfather: Part II (1974) - Rating: 8.980954530785503
4 - The Dark Knight (2008) - Rating: 8.976330426367102
5 - 12 Angry Men (1957) - Rating: 8.942113186474396
6 - Schindler's List (1993) - Rating: 8.912681024090789
7 - The Lord of the Rings: The Return of the King (2003) - Rating: 8.891791058743866
8 - Pulp Fiction (1994) - Rating: 8.833765522424883
9 - Il buono, il brutto, il cattivo (1966) - Rating: 8.783804019586725
1 -  The Lord of the Rings: The Fellowship of the Ring (2001) - Rating: 8.78160595671833
11 - Fight Club (1999) - Rating: 8.749060424522993
12 - Forrest Gump (1994) - Rating: 8.744468512645785
13 - Inception (2010) - Rating: 8.714928660065192
14 - The Lord of the Rings: The Two Towers (2002) - Rating: 8.705229617278514
15 - Star Wars: Episode V - The Empire Strikes Back (1980) - Rating: 8.694098993292908
16 - The Matrix (1999) - Rating: 8.650256676575863
17 - Goodfellas (1990) - Rating: 8.64490786162748
18 - One Flew Over the Cuckoo's Nest (1975) - Rating: 8.634125158243787
19 - Shichinin no samurai (1954) - Rating: 8.608175171468984
20 - Spider-Man: No Way Home (2021) - Rating: 8.606253315415183
21 - Se7en (1995) - Rating: 8.587148698003702
22 - The Silence of the Lambs (1991) - Rating: 8.577198415584723
23 - Cidade de Deus (2002) - Rating: 8.576010377346456
24 - It's a Wonderful Life (1946) - Rating: 8.575659870347094
25 - La vita è bella (1997) - Rating: 8.575128413247446
26 - Saving Private Ryan (1998) - Rating: 8.55122798328134
27 - Star Wars (1977) - Rating: 8.549390983098903
28 - Interstellar (2014) - Rating: 8.545300319751554
29 - Sen to Chihiro no kamikakushi (2001) - Rating: 8.53881063943977
30 - The Green Mile (1999) - Rating: 8.5374970208382
31 - Gisaengchung (2019) - Rating: 8.525358967045873
32 - Léon (1994) - Rating: 8.496137095351871
33 - Seppuku (1962) - Rating: 8.493568457015192
34 - The Pianist (2002) - Rating: 8.490665940937125
35 - Terminator 2: Judgment Day (1991) - Rating: 8.485794307760715
36 - Back to the Future (1985) - Rating: 8.484338466717663
37 - The Usual Suspects (1995) - Rating: 8.482614043310692
38 - Psycho (1960) - Rating: 8.48175570355944
39 - The Lion King (1994) - Rating: 8.481011044597851
40 - Modern Times (1936) - Rating: 8.47794037682487
41 - Hotaru no haka (1988) - Rating: 8.473306476852299
42 - American History X (1998) - Rating: 8.472462540378253
43 - Whiplash (2014) - Rating: 8.469744703653495
44 - Gladiator (2000) - Rating: 8.469537883124236
45 - City Lights (1931) - Rating: 8.468504885374092
46 - The Departed (2006) - Rating: 8.46732317266657
47 - The Intouchables (2011) - Rating: 8.45890488495217
48 - The Prestige (2006) - Rating: 8.453860916888491
49 - Casablanca (1942) - Rating: 8.448690907343302
50 - Once Upon a Time in the West (1968) - Rating: 8.445789876855756
51 - Rear Window (1954) - Rating: 8.43958951064841
52 - Nuovo Cinema Paradiso (1988) - Rating: 8.43809360392695
53 - Alien (1979) - Rating: 8.422254651878987
54 - Apocalypse Now (1979) - Rating: 8.41672505409951
55 - Memento (2000) - Rating: 8.40670163449214
56 - Raiders of the Lost Ark (1981) - Rating: 8.40449680986857
57 - The Great Dictator (1940) - Rating: 8.403322251153966
58 - Django Unchained (2012) - Rating: 8.391215141408061
59 - The Lives of Others (2006) - Rating: 8.390336587293474
60 - Paths of Glory (1957) - Rating: 8.382455843617272
61 - Sunset Blvd (1950) - Rating: 8.376607821102859
62 - WALL·E (2008) - Rating: 8.373936930921431
63 - Avengers: Infinity War (2018) - Rating: 8.370370523967347
64 - Witness for the Prosecution (1957) - Rating: 8.36513946749257
65 - The Shining (1980) - Rating: 8.36342557724526
66 - Spider-Man: Into the Spider-Verse (2018) - Rating: 8.363092619941533
67 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - Rating: 8.351184745047735
68 - Mononoke-hime (1997) - Rating: 8.344817412754894
69 - Oldeuboi (2003) - Rating: 8.343576395157134
70 - Joker (2019) - Rating: 8.340025129776965
71 - Kimi no na wa (2016) - Rating: 8.328151195258236
72 - Coco (2017) - Rating: 8.322923522103867
73 - The Dark Knight Rises (2012) - Rating: 8.32192801388917
74 - Aliens (1986) - Rating: 8.320479711900106
75 - Once Upon a Time in America (1984) - Rating: 8.318320144619598
76 - Avengers: Endgame (2019) - Rating: 8.3121956320175
77 - Capharnaüm (2018) - Rating: 8.310817208037374
78 - Das Boot (1981) - Rating: 8.306086863599095
79 - Tengoku to jigoku (1963) - Rating: 8.30216467814743
80 - 3 Idiots (2009) - Rating: 8.297834179574375
81 - Toy Story (1995) - Rating: 8.296633722205172
82 - Amadeus (1984) - Rating: 8.295532825830216
83 - American Beauty (1999) - Rating: 8.294918608959152
84 - Braveheart (1995) - Rating: 8.293085082255418
85 - Inglourious Basterds (2009) - Rating: 8.290920010051671
86 - Good Will Hunting (1997) - Rating: 8.283582836846348
87 - Hamilton (2020) - Rating: 8.282597651321298
88 - Star Wars: Episode VI - Return of the Jedi (1983) - Rating: 8.273517095421214
89 - Idi i smotri (1985) - Rating: 8.271985481194696
90 - 2001: A Space Odyssey (1968) - Rating: 8.27185317287334
91 - Reservoir Dogs (1992) - Rating: 8.269982939594705
92 - Taare Zameen Par (2007) - Rating: 8.26912383530456
93 - Vertigo (1958) - Rating: 8.268759626005531
94 - M - Eine Stadt sucht einen Mörder (1931) - Rating: 8.268056064350183
95 - Jagten (2012) - Rating: 8.266365298804944
96 - Citizen Kane (1941) - Rating: 8.2661059639997
97 - Requiem for a Dream (2000) - Rating: 8.260553589609422
98 - Singin' in the Rain (1952) - Rating: 8.259428858972505
99 - North by Northwest (1959) - Rating: 8.256996780656438
10 -  Eternal Sunshine of the Spotless Mind (2004) - Rating: 8.25522767684801
101 - Ikiru (1952) - Rating: 8.254594689117127
102 - Ladri di biciclette (1948) - Rating: 8.253691956682149
103 - Lawrence of Arabia (1962) - Rating: 8.250567754106756
104 - The Kid (1921) - Rating: 8.24332454262328
105 - Full Metal Jacket (1987) - Rating: 8.241683695196757
106 - Dangal (2016) - Rating: 8.240078369750298
107 - Incendies (2010) - Rating: 8.239777026219734
108 - The Apartment (1960) - Rating: 8.239533965394681
109 - Double Indemnity (1944) - Rating: 8.235741780127954
110 - Metropolis (1927) - Rating: 8.23512163245057
111 - The Father (2020) - Rating: 8.234790034654091
112 - Taxi Driver (1976) - Rating: 8.234358527088393
113 - A Clockwork Orange (1971) - Rating: 8.234266294266467
114 - Jodaeiye Nader az Simin (2011) - Rating: 8.234099665753888
115 - The Sting (1973) - Rating: 8.23233274367909
116 - Scarface (1983) - Rating: 8.231728988830998
117 - Snatch (2000) - Rating: 8.229167900022539
118 - 1917 (2019) - Rating: 8.227501364992898
119 - Le fabuleux destin d'Amélie Poulain (2001) - Rating: 8.227353101706925
120 - To Kill a Mockingbird (1962) - Rating: 8.224336384685099
121 - Toy Story 3 (2010) - Rating: 8.222198752706689
122 - Pather Panchali (1955) - Rating: 8.218692240731984
123 - Per qualche dollaro in più (1965) - Rating: 8.216838048264334
124 - Up (2009) - Rating: 8.213463922838447
125 - Indiana Jones and the Last Crusade (1989) - Rating: 8.203116080450942
126 - Heat (1995) - Rating: 8.200247547418824
127 - LA Confidential (1997) - Rating: 8.197421694661681
128 - Yôjinbô (1961) - Rating: 8.193882154397025
129 - Ran (1985) - Rating: 8.193761629359159
130 - Die Hard (1988) - Rating: 8.193569435660446
131 - Green Book (2018) - Rating: 8.191230295332977
132 - Rashômon (1950) - Rating: 8.190444797283098
133 - Der Untergang (2004) - Rating: 8.188769284965002
134 - Monty Python and the Holy Grail (1975) - Rating: 8.18730755325198
135 - All About Eve (1950) - Rating: 8.187156293159928
136 - Some Like It Hot (1959) - Rating: 8.184233596663063
137 - Batman Begins (2005) - Rating: 8.182531371251551
138 - Unforgiven (1992) - Rating: 8.177890607551683
139 - Bacheha-Ye aseman (1997) - Rating: 8.175911282818069
140 - Hauru no ugoku shiro (2004) - Rating: 8.165061463673073
141 - Jai Bhim (2021) - Rating: 8.164391498790376
142 - The Wolf of Wall Street (2013) - Rating: 8.16413008126835
143 - Judgment at Nuremberg (1961) - Rating: 8.158957582528544
144 - There Will Be Blood (2007) - Rating: 8.157113242137353
145 - The Great Escape (1963) - Rating: 8.156010001515616
146 - Casino (1995) - Rating: 8.155780628883976
147 - The Treasure of the Sierra Madre (1948) - Rating: 8.154404965596381
148 - Pan's Labyrinth (2006) - Rating: 8.14922886360679
149 - A Beautiful Mind (2001) - Rating: 8.147969499589454
150 - El secreto de sus ojos (2009) - Rating: 8.144903015599855
151 - Raging Bull (1980) - Rating: 8.14261181147289
152 - Chinatown (1974) - Rating: 8.137368210411935
153 - Tonari no Totoro (1988) - Rating: 8.13634945778214
154 - Shutter Island (2010) - Rating: 8.134782285259186
155 - Lock, Stock and Two Smoking Barrels (1998) - Rating: 8.133355034614157
156 - No Country for Old Men (2007) - Rating: 8.12983056878902
157 - Dersu Uzala (1975) - Rating: 8.129297780767866
158 - Klaus (2019) - Rating: 8.1289603354135
159 - Dial M for Murder (1954) - Rating: 8.128842748783764
160 - The Gold Rush (1925) - Rating: 8.12832186773054
161 - The Thing (1982) - Rating: 8.127833859802156
162 - Three Billboards Outside Ebbing, Missouri (2017) - Rating: 8.125801492830101
163 - Det sjunde inseglet (1957) - Rating: 8.125324083308419
164 - The Elephant Man (1980) - Rating: 8.124429678655108
165 - The Sixth Sense (1999) - Rating: 8.122864325205324
166 - The Truman Show (1998) - Rating: 8.117408100869817
167 - Jurassic Park (1993) - Rating: 8.11734644041529
168 - Smultronstället (1957) - Rating: 8.116392135291909
169 - The Third Man (1949) - Rating: 8.115262959575222
170 - Salinui chueok (2003) - Rating: 8.114280658502608
171 - V for Vendetta (2005) - Rating: 8.113293397853337
172 - Blade Runner (1982) - Rating: 8.112486102801308
173 - Trainspotting (1996) - Rating: 8.111804475581819
174 - Inside Out (2015) - Rating: 8.11071189536928
175 - The Bridge on the River Kwai (1957) - Rating: 8.110629936522832
176 - Fargo (1996) - Rating: 8.11054909710883
177 - Finding Nemo (2003) - Rating: 8.108488491378681
178 - Warrior (2011) - Rating: 8.107808529691777
179 - Kill Bill: Vol 1 (2003) - Rating: 8.107674237960186
180 - Gone with the Wind (1939) - Rating: 8.106169023303051
181 - Tôkyô monogatari (1953) - Rating: 8.101944247781345
182 - On the Waterfront (1954) - Rating: 8.101033797911885
183 - Babam ve Oglum (2005) - Rating: 8.098269903253284
184 - Relatos salvajes (2014) - Rating: 8.09323243024121
185 - Prisoners (2013) - Rating: 8.091767975548645
186 - Stalker (1979) - Rating: 8.091529766286172
187 - The Grand Budapest Hotel (2014) - Rating: 8.090313249942861
188 - The Deer Hunter (1978) - Rating: 8.089869609638413
189 - Sherlock Jr (1924) - Rating: 8.087800980353853
190 - The General (1926) - Rating: 8.087766543423593
191 - Persona (1966) - Rating: 8.087712758985877
192 - Gran Torino (2008) - Rating: 8.087683051978436
193 - Dune: Part One (2021) - Rating: 8.08719010778538
194 - Before Sunrise (1995) - Rating: 8.08558659596307
195 - Mary and Max (2009) - Rating: 8.084880670593286
196 - Catch Me If You Can (2002) - Rating: 8.083814754349781
197 - Z (1969) - Rating: 8.082707527924347
198 - Mr Smith Goes to Washington (1939) - Rating: 8.08148607335961
199 - Barry Lyndon (1975) - Rating: 8.080485483928527
200 - In the Name of the Father (1993) - Rating: 8.079816421653428
201 - Gone Girl (2014) - Rating: 8.078081633137112
202 - Hacksaw Ridge (2016) - Rating: 8.077726481542145
203 - Room (2015) - Rating: 8.07738715072294
204 - La passion de Jeanne d'Arc (1928) - Rating: 8.072490999421172
205 - Andhadhun (2018) - Rating: 8.071627454679316
206 - Ford v Ferrari (2019) - Rating: 8.07057729537808
207 - 12 Years a Slave (2013) - Rating: 8.069779265820673
208 - To Be or Not to Be (1942) - Rating: 8.066665668908872
209 - The Big Lebowski (1998) - Rating: 8.066191494100378
210 - Dead Poets Society (1989) - Rating: 8.063896541753365
211 - Harry Potter and the Deathly Hallows: Part 2 (2011) - Rating: 8.062541036468826
212 - Ben-Hur (1959) - Rating: 8.062181963808845
213 - How to Train Your Dragon (2010) - Rating: 8.061991497194644
214 - Mad Max: Fury Road (2015) - Rating: 8.061642269140192
215 - Höstsonaten (1978) - Rating: 8.06090841830966
216 - Million Dollar Baby (2004) - Rating: 8.058584299179161
217 - Le salaire de la peur (1953) - Rating: 8.055877544885318
218 - Stand by Me (1986) - Rating: 8.054765544954202
219 - Ah-ga-ssi (2016) - Rating: 8.053965325569084
220 - Network (1976) - Rating: 8.053840496769325
221 - Logan (2017) - Rating: 8.053256319175784
222 - La haine (1995) - Rating: 8.050121888432495
223 - Cool Hand Luke (1967) - Rating: 8.049559208959927
224 - Hachi: A Dog's Tale (2009) - Rating: 8.049434598132468
225 - Koe no katachi (2016) - Rating: 8.049023419063483
226 - Les quatre cents coups (1959) - Rating: 8.047248135081714
227 - Gangs of Wasseypur (2012) - Rating: 8.046732574127676
228 - Platoon (1986) - Rating: 8.04551506313963
229 - Spotlight (2015) - Rating: 8.044738274753508
230 - Monsters, Inc (2001) - Rating: 8.042467180842282
231 - Rebecca (1940) - Rating: 8.040478874165892
232 - Life of Brian (1979) - Rating: 8.039308521694732
233 - Fa Yeung Nin Wah (2000) - Rating: 8.038941161499555
234 - Hotel Rwanda (2004) - Rating: 8.03721659747622
235 - Eskiya (1996) - Rating: 8.036960612772084
236 - Rush (2013) - Rating: 8.03592712810842
237 - Rocky (1976) - Rating: 8.034191374527914
238 - Amores perros (2000) - Rating: 8.033882277900906
239 - Into the Wild (2007) - Rating: 8.033576367330946
240 - Kaze no tani no Naushika (1984) - Rating: 8.031224198086854
241 - It Happened One Night (1934) - Rating: 8.028759689431745
242 - Before Sunset (2004) - Rating: 8.028646749851637
243 - Fanny och Alexander (1982) - Rating: 8.027798207465768
244 - Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni (1997) - Rating: 8.026391951869536
245 - La battaglia di Algeri (1966) - Rating: 8.026129075540014
246 - Andrei Rublev (1966) - Rating: 8.026064933217723
247 - Le notti di Cabiria (1957) - Rating: 8.025508041376623
248 - The Princess Bride (1987) - Rating: 8.024156187466232
249 - Miracle in Cell No 7 (2019) - Rating: 8.024019515171734
250 - 96 (2018) - Rating: 8.023985146090848

In [4]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]
imdb = []
for index in range(0, len(movies)):
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,            
            "rating": ratings[index]}
    imdb.append(data)

for item in imdb:
    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', 'Rating:', item['rating'])

1 - Jai Bhim (2021) - Rating: 8.509960789475615
2 - Pariyerum Perumal (2018) - Rating: 8.506770814019195
3 - Nayakan (1987) - Rating: 8.50403139876829
4 - Anbe Sivam (2003) - Rating: 8.493316526958136
5 - C/o Kancharapalem (2018) - Rating: 8.489798671693087
6 - Kireedam (1989) - Rating: 8.479523069907996
7 - Manichitrathazhu (1993) - Rating: 8.477332033510534
8 - Golmaal (1979) - Rating: 8.469572377531003
9 - Apur Sansar (1959) - Rating: 8.454052276234213
1 -  Natsamrat (2016) - Rating: 8.441032393867589
11 - Thevar Magan (1992) - Rating: 8.4208588050383
12 - Kumbalangi Nights (2019) - Rating: 8.418609357803556
13 - Black Friday (2004) - Rating: 8.41136912561048
14 - #Home (2021) - Rating: 8.410115446179823
15 - Sardar Udham (2021) - Rating: 8.382344528145623
16 - Visaaranai (2015) - Rating: 8.374197460454273
17 - Jersey (2019) - Rating: 8.369462596364578
18 - Pather Panchali (1955) - Rating: 8.368050978412139
19 - Soorarai Pottru (2020) - Rating: 8.367005517083193
20 - 3 Idiots (2009) - Rating: 8.351995790452184
21 - Asuran (2019) - Rating: 8.346577049697673
22 - Kaithi (2019) - Rating: 8.335429694800954
23 - Sarpatta Parambarai (2021) - Rating: 8.332772808985613
24 - Taare Zameen Par (2007) - Rating: 8.326362400637157
25 - Thalapathi (1991) - Rating: 8.326210532061147
26 - 96 (2018) - Rating: 8.324298543658486
27 - Drishyam 2 (2021) - Rating: 8.302447418592788
28 - Devasuram (1993) - Rating: 8.300620439182909
29 - Dangal (2016) - Rating: 8.294284494037711
30 - Vada Chennai (2018) - Rating: 8.28755676827415
31 - Peranbu (2018) - Rating: 8.286703180260854
32 - Chithram (1988) - Rating: 8.278357634807394
33 - Aparajito (1956) - Rating: 8.278344800304405
34 - Jaane Bhi Do Yaaro (1983) - Rating: 8.27677376786426
35 - Pyaasa (1957) - Rating: 8.27490145951807
36 - Thani Oruvan (2015) - Rating: 8.267534987508371
37 - Guide (1965) - Rating: 8.264107557190938
38 - Iruvar (1997) - Rating: 8.255285099031466
39 - Ratsasan (2018) - Rating: 8.254845990716706
40 - Spadikam (1995) - Rating: 8.253184641718079
41 - Agent Sai Srinivasa Athreya (2019) - Rating: 8.252997675860595
42 - Kannathil Muthamittal (2002) - Rating: 8.249238654490341
43 - Mahanati (2018) - Rating: 8.240518311491408
44 - Chupke Chupke (1975) - Rating: 8.24001800100759
45 - Super Deluxe (2019) - Rating: 8.239319034105627
46 - Aruvi (2016) - Rating: 8.226314819279287
47 - Pudhu Pettai (2006) - Rating: 8.221750698941205
48 - Drishyam (2013) - Rating: 8.210055956953445
49 - Khosla Ka Ghosla! (2006) - Rating: 8.207340523138138
50 - Oru Vadakkan Veeragatha (1989) - Rating: 8.204797113529436
51 - Anniyan (2005) - Rating: 8.202406113182507
52 - Tumbbad (2018) - Rating: 8.193787216318658
53 - Premam (2015) - Rating: 8.192285106775776
54 - Kaakkaa Muttai (2014) - Rating: 8.19143645184213
55 - Vikram Vedha (2017) - Rating: 8.188841145829075
56 - Mudhalvan (1999) - Rating: 8.1888278389889
57 - Bangalore Days (2014) - Rating: 8.187404444478654
58 - Papanasam (2015) - Rating: 8.183950432951756
59 - Satya (1998) - Rating: 8.177128047511648
60 - Mandela (2021) - Rating: 8.1769330759782
61 - Soodhu Kavvum (2013) - Rating: 8.17207689074876
62 - Angoor (1982) - Rating: 8.167266467391489
63 - Pithamagan (2003) - Rating: 8.167162114836323
64 - Dhuruvangal Pathinaaru (2016) - Rating: 8.166706997936702
65 - Andhadhun (2018) - Rating: 8.159908913765292
66 - Shahid (2012) - Rating: 8.159080914883463
67 - Jigarthanda (2014) - Rating: 8.15174788850815
68 - Anand (1971) - Rating: 8.146648913327262
69 - Gangs of Wasseypur (2012) - Rating: 8.145455032048499
70 - Paan Singh Tomar (2012) - Rating: 8.136886818233242
71 - Sairat (2016) - Rating: 8.13392912093437
72 - Bhaag Milkha Bhaag (2013) - Rating: 8.130682212740064
73 - Maheshinte Prathikaaram (2016) - Rating: 8.130432846116943
74 - Hera Pheri (2000) - Rating: 8.129843647370047
75 - Chhichhore (2019) - Rating: 8.127708333417223
76 - Theeran Adhigaaram Ondru (2017) - Rating: 8.125793895784861
77 - Sholay (1975) - Rating: 8.122967232020398
78 - Ustad Hotel (2012) - Rating: 8.120729554959789
79 - Chak De! India (2007) - Rating: 8.120225956720004
80 - Swades: We, the People (2004) - Rating: 8.118796774789294
81 - Talvar (2015) - Rating: 8.117329679793894
82 - Mughal-E-Azam (1960) - Rating: 8.115494516026976
83 - Baasha (1995) - Rating: 8.1143705668483
84 - Zindagi Na Milegi Dobara (2011) - Rating: 8.112614073709484
85 - Jo Jeeta Wohi Sikandar (1992) - Rating: 8.111738718947509
86 - Black (2005) - Rating: 8.109851422356089
87 - Virumandi (2004) - Rating: 8.108633397214154
88 - Article 15 (2019) - Rating: 8.107952574929003
89 - Nil Battey Sannata (2015) - Rating: 8.106978148140161
90 - Udaan (2010) - Rating: 8.104850857089593
91 - Drishyam (2015) - Rating: 8.103868748751154
92 - Masaan (2015) - Rating: 8.102596897179621
93 - Charulata (1964) - Rating: 8.102163174171567
94 - A Wednesday (2008) - Rating: 8.101512913569891
95 - Alai Payuthey (2000) - Rating: 8.100011289783565
96 - Munna Bhai MBBS (2003) - Rating: 8.09880165992079
97 - Sarfarosh (1999) - Rating: 8.09203246311098
98 - Roja (1992) - Rating: 8.087592154193295
99 - Queen (2013) - Rating: 8.08648182105971
10 -  Uri: The Surgical Strike (2019) - Rating: 8.08513747351055
101 - OMG: Oh My God! (2012) - Rating: 8.084743918341568
102 - Dil Chahta Hai (2001) - Rating: 8.08472320490356
103 - Rang De Basanti (2006) - Rating: 8.084243579498589
104 - Lagaan: Once Upon a Time in India (2001) - Rating: 8.074795752700318
105 - Kahaani (2012) - Rating: 8.073513487371873
106 - Andaz Apna Apna (1994) - Rating: 8.071632096805281
107 - PK (2014) - Rating: 8.069627491831062
108 - Bommarillu (2006) - Rating: 8.066198398611228
109 - Lucia (2013) - Rating: 8.064805551263714
110 - The Legend of Bhagat Singh (2002) - Rating: 8.062240221117632
111 - Iqbal (2005) - Rating: 8.054744523425944
112 - Barfi! (2012) - Rating: 8.053588045829134
113 - Indian (1996) - Rating: 8.051573980954878
114 - The Great Indian Kitchen (2021) - Rating: 8.050837233340179
115 - Section 375 (2019) - Rating: 8.048802822755244
116 - Bombay (1995) - Rating: 8.043894566807088
117 - Maqbool (2003) - Rating: 8.041956944814174
118 - Thadam (2019) - Rating: 8.041591128300082
119 - Pink (2016) - Rating: 8.039697824580314
120 - Maanaadu (2021) - Rating: 8.038336264814031
121 - Omkara (2006) - Rating: 8.034538086431997
122 - Pelli Choopulu (2016) - Rating: 8.033904243167878
123 - Kshanam (2016) - Rating: 8.029906114267332
124 - Lage Raho Munna Bhai (2006) - Rating: 8.023519892169837
125 - Rangasthalam (2018) - Rating: 8.021924565161816
126 - Baahubali 2: The Conclusion (2017) - Rating: 8.020284949879006
127 - Shershaah (2021) - Rating: 8.01837668060548
128 - Athadu (2005) - Rating: 8.009967606550433
129 - Naduvula Konjam Pakkatha Kaanom (2012) - Rating: 8.00952898875584
130 - Padayappa (1999) - Rating: 8.008020589996445
131 - Deewaar (1975) - Rating: 8.00739799413044
132 - Pranchiyettan and the Saint (2010) - Rating: 8.007002956870279
133 - KGF: Chapter 1 (2018) - Rating: 8.00399731198472
134 - Evaru (2019) - Rating: 8.001619951624773
135 - Padosan (1968) - Rating: 7.999463716609623
136 - Thondimuthalum Dhriksakshiyum (2017) - Rating: 7.997624201956861
137 - Gulaal (2009) - Rating: 7.997430698476323
138 - Haider (2014) - Rating: 7.990027943857027
139 - Take Off (2017) - Rating: 7.9890949963512945
140 - Dilwale Dulhania Le Jayenge (1995) - Rating: 7.987945958692645
141 - Maanagaram (2017) - Rating: 7.985738259482023
142 - Vaaranam Aayiram (2008) - Rating: 7.983734871059839
143 - Aadukalam (2011) - Rating: 7.982920073293509
144 - Android Kunjappan Version 525 (2019) - Rating: 7.980431345375061
145 - Ulidavaru Kandanthe (2014) - Rating: 7.972679783360962
146 - Baishe Srabon (2011) - Rating: 7.968661394666449
147 - Ugly (2013) - Rating: 7.9679620863640945
148 - Mother India (1957) - Rating: 7.959280276524456
149 - Special Chabbis (2013) - Rating: 7.958194072816267
150 - Nayattu (2021) - Rating: 7.956774221023623
151 - Ship of Theseus (2012) - Rating: 7.94585515806595
152 - Bajrangi Bhaijaan (2015) - Rating: 7.93445752163048
153 - Badhaai ho (2018) - Rating: 7.933125930034507
154 - Deiva Thirumagal (2011) - Rating: 7.932662740512758
155 - Jalsaghar (1958) - Rating: 7.932335449320326
156 - Karnan (2021) - Rating: 7.927619095215127
157 - DevD (2009) - Rating: 7.927508734526744
158 - Vaastav: The Reality (1999) - Rating: 7.917998932173546
159 - Kirik Party (2016) - Rating: 7.917324336040801
160 - Vedam (2010) - Rating: 7.914738219798398
161 - Mukkabaaz (2017) - Rating: 7.91179994586505
162 - Ankhon Dekhi (2013) - Rating: 7.907438649779866
163 - Poove Unakkaga (1996) - Rating: 7.901606511053283
164 - Company (2002) - Rating: 7.90115761307806
165 - Gully Boy (2019) - Rating: 7.9010672949244025
166 - Charlie (2015) - Rating: 7.900941624526336
167 - Manjhi: The Mountain Man (2015) - Rating: 7.898540969006366
168 - Pizza (2012) - Rating: 7.896236701729719
169 - Arjun Reddy (2017) - Rating: 7.889820294022237
170 - Ayyappanum Koshiyum (2020) - Rating: 7.886893226636578
171 - Memories (2013) - Rating: 7.886759548879101
172 - Malik (2021) - Rating: 7.886506171468819
173 - My Name Is Khan (2010) - Rating: 7.875777828266917
174 - Vinnaithaandi Varuvaayaa (2010) - Rating: 7.870717757354264
175 - Dil Bechara (2020) - Rating: 7.8698659441275
176 - Border (1997) - Rating: 7.868069396215078
177 - Jab We Met (2007) - Rating: 7.866356013481552
178 - Kal Ho Naa Ho (2003) - Rating: 7.864777428055526
179 - KaakhaKaakha: The Police (2003) - Rating: 7.861433829134103
180 - Thulladha Manamum Thullum (1999) - Rating: 7.859824435241634
181 - Super 30 (2019) - Rating: 7.859504507846129
182 - Mumbai Police (2013) - Rating: 7.8577040096481205
183 - Sonchiriya (2019) - Rating: 7.856760834626241
184 - Anjaam Pathiraa (2020) - Rating: 7.850057004564714
185 - Angamaly Diaries (2017) - Rating: 7.8481744226974826
186 - Unnaipol Oruvan (2009) - Rating: 7.846001137840287
187 - Hey Ram (2000) - Rating: 7.845194720262147
188 - Bãhubali: The Beginning (2015) - Rating: 7.843431311408855
189 - Lakshya (2004) - Rating: 7.8366506826150815
190 - Vettaiyaadu Vilaiyaadu (2006) - Rating: 7.836222797729677
191 - Dia (2020) - Rating: 7.831173501410321
192 - Padman (2018) - Rating: 7.829745306082898
193 - Dor (2006) - Rating: 7.828299424008772
194 - Baby (2015) - Rating: 7.827371825877275
195 - Minnal Murali (2021) - Rating: 7.825242643202995
196 - Hindi Medium (2017) - Rating: 7.81776718881048
197 - Okkadu (2003) - Rating: 7.812715754854212
198 - Airlift (2016) - Rating: 7.812152004202925
199 - English Vinglish (2012) - Rating: 7.80323008448598
200 - Manam (2014) - Rating: 7.795934875797472
201 - MS Dhoni: The Untold Story (2016) - Rating: 7.795521154387457
202 - Gangaajal (2003) - Rating: 7.7943858226702165
203 - The Lunchbox (2013) - Rating: 7.7929392236129456
204 - Johnny Gaddaar (2007) - Rating: 7.781257134618083
205 - Ab Tak Chhappan (2004) - Rating: 7.778651347789816
206 - Aayirathil Oruvan (2010) - Rating: 7.7747363105226
207 - Pokiri (2006) - Rating: 7.77314729147482
208 - Happy Days (2007) - Rating: 7.768805565107713
209 - Ennu Ninte Moideen (2015) - Rating: 7.761082398944867
210 - Goodachari (2018) - Rating: 7.758935509802957
211 - Joji (2021) - Rating: 7.752184802867116
212 - Badla (2019) - Rating: 7.751165079830618
213 - RangiTaranga (2015) - Rating: 7.7456748569898375
214 - Stanley Ka Dabba (2011) - Rating: 7.740903057832614
215 - Nayak: The Real Hero (2001) - Rating: 7.740510842524705
216 - Vicky Donor (2012) - Rating: 7.739410410625169
217 - Secret Superstar (2017) - Rating: 7.739178172070726
218 - Thuppakki (2012) - Rating: 7.738304615881434
219 - Ko (2011) - Rating: 7.735293227394836
220 - Velaiilla Pattadhari (2014) - Rating: 7.733332413554388
221 - Mimi (2021) - Rating: 7.7328217982065
222 - Raazi (2018) - Rating: 7.732224518388324
223 - Mr India (1987) - Rating: 7.731898558317629
224 - Don (1978) - Rating: 7.7318506061616485
225 - Udta Punjab (2016) - Rating: 7.727578995185957
226 - Aligarh (2015) - Rating: 7.72554983176439
227 - Veer-Zaara (2004) - Rating: 7.718040359868714
228 - Kaththi (2014) - Rating: 7.716926407968828
229 - Rock On!! (2008) - Rating: 7.71285917181795
230 - Arya (2004) - Rating: 7.7128213660109965
231 - Dasvidaniya (2008) - Rating: 7.709611042542734
232 - Ghilli (2004) - Rating: 7.7000395862221245
233 - Kai po che! (2013) - Rating: 7.6967916661585285
234 - Guru (2007) - Rating: 7.696325740327555
235 - Samsara (2001) - Rating: 7.689579746558518
236 - 24 (2016) - Rating: 7.686782795514469
237 - Oye Lucky! Lucky Oye! (2008) - Rating: 7.67546964477593
238 - Avane Srimannarayana (2019) - Rating: 7.664763681596734
239 - Rockstar (2011) - Rating: 7.659238819403726
240 - Eega (2012) - Rating: 7.6534092230058555
241 - Kushi (2000) - Rating: 7.65275280082256
242 - The Tashkent Files (2019) - Rating: 7.646170253362191
243 - Mumbai Meri Jaan (2008) - Rating: 7.646020222863512
244 - Sir (2018) - Rating: 7.640488620217043
245 - Ugramm (2014) - Rating: 7.639891152835674
246 - Darr (1993) - Rating: 7.632811623606065
247 - Kabhi Haan Kabhi Naa (1994) - Rating: 7.631702293601581
248 - Kapoor & Sons (2016) - Rating: 7.6271806387471415
249 - Newton (2017) - Rating: 7.624195386318791
250 - C U Soon (2020) - Rating: 7.620643253969436

In [9]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests
page = requests.get('https://meesho.com/bags-ladies/pl/p7vbp')
soup = BeautifulSoup(page.content)
product_names = []
for i in soup.find_all('p', class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
    product_names.append(i.text)
product_discount = []
prices = []

for i in soup.find_all('div', class_="Card__BaseCard-sc-b3n78k-0 iLPHgK NewProductCard__PriceRow-sc-j0e7tu-5 eyya-Dr NewProductCard__PriceRow-sc-j0e7tu-5 eyya-Dr"):
        product_discount.append(i.text.split()[0][-3:])
        prices.append(i.text.split('₹')[1])
import pandas as pd
df = pd.DataFrame({'Product Name': product_names,'Price': prices, 'Product Discount': product_discount})
df

                                         Product Name Price Product Discount
0                    Voguish Versatile Women Handbags   284              26%
1                    Elite Fashionable Women Handbags   384              21%
2                  Classic Fashionable Women Handbags   384              21%
3                     Graceful Stylish Women Handbags   334              23%
4                        women trendy latest handbags   564              15%
5                 Trendy And Beautiful Women Handbags   200              30%
6                 Handbag with Pocket- Extra Spacious   405              20%
7                                             Xtalish   484              17%
8                  Women grey Handbags (regular size)   283              26%
9                     Elegant Alluring Women Handbags   251              28%
10             Phomil bags for Women Stylish  (BLACK)   245              29%
11                       women trendy latest handbags   384              21%
12                                    Xtalish handbag   484              17%
13                  Classic Attractive Women Handbags   419              19%
14                                            Xtalish   484              17%
15                                    Women Handbags    199              30%
16  Beige    Colour  Tote  Bags  with 2 pockets in...   835              11%
17                            Latest Trendy Moon Bag.   555              15%
18                Graceful Fashionable Women Handbags   284              26%
19                    Handbags for Women/Girls- Black   335              23%

In [39]:
from bs4 import BeautifulSoup
import requests
import re
import numpy as np
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Team_Names=[]
Team_Matches=[]
Team_Points=[]
Team_Rating=[]

Teams = soup.select('span.u-hide-phablet')
for i in Teams[:10]:
  Team_Names.append(i.text.replace('\n', ''))

Nz_Matches=soup.select('td.rankings-block__banner--matches')
Team_Matches.append(Nz_Matches[0].text.replace('\n',''))
Rest_Matches=soup.select('td.table-body__cell.u-center-text')
for i in Rest_Matches[0:17:2]:
  Team_Matches.append(i.text.replace('\n', ''))
Team_Matches

Nz_Points=soup.select('td.rankings-block__banner--points')
Team_Points.append(Nz_Points[0].text.replace('\n',''))
for i in Rest_Matches[1:18:2]:
  Team_Points.append(i.text.replace('\n', ''))
Team_Points

Nz_Rating=soup.select('td.rankings-block__banner--rating.u-text-right')
Team_Rating.append(Nz_Rating[0].text.replace('\n',''))
Team_Rating[0]=Team_Rating[0].replace(' ','')
Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rating[:9]:
  Team_Rating.append(i.text.replace('\n', ''))
Team_Rating

import pandas as pd
ICC_Mens = pd.DataFrame()
#ICC_Mens.index = np.arange(1, len(ICC_Mens))
#ICC_Mens.index = ICC_Mens.index + 1
#ICC_Mens.shift()[1:]
#ICC_Mens.index = np.arange(1, len(ICC_Mens)+1)
ICC_Mens['Team']=Team_Names
ICC_Mens['Matches']=Team_Matches
ICC_Mens['Points']=Team_Points
ICC_Mens['Rating']=Team_Rating
ICC_Mens.index = ICC_Mens.index + 1
ICC_Mens

            Team Matches Points Rating
1    New Zealand      17  2,054    121
2        England      32  3,793    119
3      Australia      28  3,244    116
4          India      32  3,624    113
5   South Africa      25  2,459     98
6       Pakistan      27  2,524     93
7     Bangladesh      30  2,740     91
8    West Indies      30  2,523     84
9      Sri Lanka      32  2,657     83
10   Afghanistan      17  1,054     62

In [41]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Batsman_Names=[]
Batsman_Team=[]
Batsman_Rating=[]
Batsman = soup.select('div.rankings-block__banner--name')
Batsman_Names.append(Batsman[0].text)
rest_Batsman=soup.select('td.table-body__cell.name')
for i in rest_Batsman[:9]:
  Batsman_Names.append(i.text.replace('\n', ''))

Country=soup.select('div.rankings-block__banner--nationality')
temp=[]
temp.append(Country[0].text.replace('\n',''))
temp[0]=temp[0].replace(' ','')
temp_str=""
temp_alphabet=""
temp_number=""
temp_str=str(temp)
temp_alphabet=temp_str[slice(2,5)]
Batsman_Team.append(temp_alphabet)
temp_number=temp_str[slice(5,8)]
Batsman_Rating.append(temp_number)

Rest_Country=soup.select('td.table-body__cell.nationality-logo')
for i in Rest_Country[:9]:
  Batsman_Team.append(i.text.replace('\n', ''))


Rest_Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rest_Rating[:9]:
  Batsman_Rating.append(i.text.replace('\n', ''))

import pandas as pd
ICC_Mens_Batsman = pd.DataFrame({})
ICC_Mens_Batsman['Player']=Batsman_Names
ICC_Mens_Batsman['Team']=Batsman_Team
ICC_Mens_Batsman['Rating']=Batsman_Rating
ICC_Mens_Batsman.index += 1
ICC_Mens_Batsman

             Player Team Rating
1        Babar Azam  PAK    873
2       Virat Kohli  IND    844
3      Rohit Sharma  IND    813
4       Ross Taylor   NZ    801
5       Aaron Finch  AUS    779
6    Jonny Bairstow  ENG    775
7      David Warner  AUS    762
8   Kane Williamson   NZ    754
9         Shai Hope   WI    751
10  Quinton de Kock   SA    743

In [42]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Bowler_Names=[]
Bowler_Team=[]
Bowler_Rating=[]
Bowler = soup.select('div.rankings-block__banner--name')
Bowler_Names.append(Bowler[1].text)
rest_Bowler=soup.select('td.table-body__cell.name')
for i in rest_Bowler[9:18]:
  Bowler_Names.append(i.text.replace('\n', ''))
Country=soup.select('div.rankings-block__banner--nationality')
temp=[]
temp.append(Country[1].text.replace('\n',''))
temp[0]=temp[0].replace(' ','')
temp_str=""
temp_alphabet=""
temp_number=""
temp_str=str(temp)
temp_str
temp_alphabet=temp_str[slice(2,4)]
Bowler_Team.append(temp_alphabet)
temp_number=temp_str[slice(4,7)]
Bowler_Rating.append(temp_number)

Rest_Country=soup.select('td.table-body__cell.nationality-logo')
for i in Rest_Country[9:18]:
  Bowler_Team.append(i.text.replace('\n', ''))

Rest_Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rest_Rating[9:18]:
  Bowler_Rating.append(i.text.replace('\n', ''))
Bowler_Rating

import pandas as pd
ICC_Mens_Bowler = pd.DataFrame({})
ICC_Mens_Bowler['Player']=Bowler_Names
ICC_Mens_Bowler['Team']=Bowler_Team
ICC_Mens_Bowler['Rating']=Bowler_Rating
ICC_Mens_Bowler.index += 1
ICC_Mens_Bowler

              Player Team Rating
1        Trent Boult   NZ    737
2     Josh Hazlewood  AUS    709
3   Mujeeb Ur Rahman  AFG    708
4       Chris Woakes  ENG    700
5       Mehedi Hasan  BAN    692
6         Matt Henry   NZ    691
7     Jasprit Bumrah  IND    679
8     Mitchell Starc  AUS    652
9    Shakib Al Hasan  BAN    650
10     Kagiso Rabada   SA    643

In [43]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Team_Names=[]
Team_Matches=[]
Team_Points=[]
Team_Rating=[]


Teams = soup.select('span.u-hide-phablet')
for i in Teams[:10]:
  Team_Names.append(i.text.replace('\n', ''))

Aus_Matches=soup.select('td.rankings-block__banner--matches')
Team_Matches.append(Aus_Matches[0].text.replace('\n',''))
Rest_Matches=soup.select('td.table-body__cell.u-center-text')
for i in Rest_Matches[0:17:2]:
  Team_Matches.append(i.text.replace('\n', ''))
Team_Matches

Aus_Points=soup.select('td.rankings-block__banner--points')
Team_Points.append(Aus_Points[0].text.replace('\n',''))
for i in Rest_Matches[1:18:2]:
  Team_Points.append(i.text.replace('\n', ''))
Team_Points

Aus_Rating=soup.select('td.rankings-block__banner--rating.u-text-right')
Team_Rating.append(Aus_Rating[0].text.replace('\n',''))
Team_Rating[0]=Team_Rating[0].replace(' ','')
Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rating[:9]:
  Team_Rating.append(i.text.replace('\n', ''))
Team_Rating

import pandas as pd
ICC_Womens = pd.DataFrame({})
ICC_Womens['Team']=Team_Names
ICC_Womens['Matches']=Team_Matches
ICC_Womens['Points']=Team_Points
ICC_Womens['Rating']=Team_Rating
ICC_Womens.index += 1
ICC_Womens

            Team Matches Points Rating
1      Australia      17  2,746    162
2   South Africa      19  2,307    121
3        England      18  2,148    119
4          India      17  1,899    112
5     Bangladesh       5    475     95
6    New Zealand      19  1,668     88
7    West Indies      19  1,658     87
8       Pakistan      19  1,304     69
9        Ireland       5    240     48
10     Sri Lanka       5    233     47

In [44]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Batsman_Names=[]
Batsman_Team=[]
Batsman_Rating=[]
Batsman = soup.select('div.rankings-block__banner--name')
Batsman_Names.append(Batsman[0].text)
Batsman_Names
rest_Batsman=soup.select('td.table-body__cell.name')
for i in rest_Batsman[:9]:
  Batsman_Names.append(i.text.replace('\n', ''))

Country=soup.select('div.rankings-block__banner--nationality')
temp=[]
temp.append(Country[0].text.replace('\n',''))
temp[0]=temp[0].replace(' ','')
temp_str=""
temp_alphabet=""
temp_number=""
temp_str=str(temp)
temp_alphabet=temp_str[slice(2,5)]
Batsman_Team.append(temp_alphabet)
temp_number=temp_str[slice(5,8)]
Batsman_Rating.append(temp_number)

Rest_Country=soup.select('td.table-body__cell.nationality-logo')
for i in Rest_Country[:9]:
  Batsman_Team.append(i.text.replace('\n', ''))


Rest_Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rest_Rating[:9]:
  Batsman_Rating.append(i.text.replace('\n', ''))

import pandas as pd
ICC_Womens_Batsman = pd.DataFrame({})
ICC_Womens_Batsman['Player']=Batsman_Names
ICC_Womens_Batsman['Team']=Batsman_Team
ICC_Womens_Batsman['Rating']=Batsman_Rating
ICC_Womens_Batsman.index += 1
ICC_Womens_Batsman

               Player Team Rating
1         Lizelle Lee  SA7    61'
2        Alyssa Healy  AUS    750
3         Mithali Raj  IND    738
4      Tammy Beaumont  ENG    728
5   Amy Satterthwaite   NZ    717
6     Smriti Mandhana  IND    710
7         Meg Lanning  AUS    699
8         Beth Mooney  AUS    690
9     Stafanie Taylor   WI    676
10     Heather Knight  ENG    674

In [45]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Player_Names=[]
Player_Team=[]
Player_Rating=[]
Player = soup.select('div.rankings-block__banner--name')
Player_Names.append(Player[2].text)
rest_Player=soup.select('td.table-body__cell.name')
for i in rest_Player[18:27]:
  Player_Names.append(i.text.replace('\n', ''))

Country=soup.select('div.rankings-block__banner--nationality')
temp=[]
temp.append(Country[2].text.replace('\n',''))
temp[0]=temp[0].replace(' ','')
temp_str=""
temp_alphabet=""
temp_number=""
temp_str=str(temp)

temp_alphabet=temp_str[slice(2,4)]
Player_Team.append(temp_alphabet)
temp_number=temp_str[slice(4,7)]
Player_Rating.append(temp_number)

Rest_Country=soup.select('td.table-body__cell.nationality-logo')
for i in Rest_Country[18:27]:
  Player_Team.append(i.text.replace('\n', ''))

Rest_Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rest_Rating[18:27]:
  Player_Rating.append(i.text.replace('\n', ''))

import pandas as pd
ICC_Womens_AllRounder = pd.DataFrame({})
ICC_Womens_AllRounder['Player']=Player_Names
ICC_Womens_AllRounder['Team']=Player_Team
ICC_Womens_AllRounder['Rating']=Player_Rating
ICC_Womens_AllRounder.index += 1
ICC_Womens_AllRounder

              Player Team Rating
1     Marizanne Kapp   SA    384
2     Natalie Sciver  ENG    372
3       Ellyse Perry  AUS    365
4    Stafanie Taylor   WI    319
5      Deepti Sharma  IND    299
6   Ashleigh Gardner  AUS    275
7   Dane van Niekerk   SA    274
8    Hayley Matthews   WI    272
9      Jess Jonassen  AUS    272
10   Katherine Brunt  ENG    272

In [66]:
page = requests.get('https://coreyms.com/')
soup = BeautifulSoup(page.content)

headings = []
for i in soup.find_all('a', class_="entry-title-link"):
    headings.append(i.text)

date = []
for i in soup.find_all('time', class_="entry-time"):
    date.append(i.text)

content = []
for i in soup.find_all('div', class_="entry-content"):
    content.append(i.text.replace('\n',''))
utube = []

for i in soup.find_all('iframe', class_="youtube-player"):
    utube.append(i.get('src')
for i in range(0,9):
    utube[i] = utube[i].split("?")[0].split("/")[-1])
print(utube)
import pandas as pd
CoreyMS = pd.DataFrame()
CoreyMS['headings']=headings
CoreyMS['date']=date
CoreyMS['content']=content
CoreyMS['utube']=utube

CoreyMS

SyntaxError: invalid syntax (<ipython-input-66-6730d700c774>, line 19)

In [67]:
#send get request to the webpage server to get the source code of the page
url = "https://coreyms.com/"
page7 = requests.get(url)
# see content in page9
soup7 = BeautifulSoup(page7.content)



articles = soup7.find_all('article')

data = []
for article in articles:
    header = article.find("header")
    
    # Title
    title = header.find("h2").text
    # Date
    date = header.find("time", class_="entry-time").text
    div_block = article.find("div", class_="entry-content")
    # Paragraph
    paragraph_content = div_block.find("p").text
    try:
        youtube_link = div_block.find("iframe", class_="youtube-player")['src']
        video_code = youtube_link.split("?")[0].split("/")[-1]
    except:
        video_code = "NA"
    # Video Code
    data.append([title,date, paragraph_content, video_code])
    
# printing the dataframe. 
columns = ["Title","Date", "Content","Video Code"]
df = pd.DataFrame(data, columns=columns)
df

,Title,Date,Content,Video Code
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea...",z0gguhEmWiY
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l...",_P7X8tMplsw
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l...",fKl2JW_qrso
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l...",IEEhzQoKtQU
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...,NA
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b...",mO_dS3rXDIs
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b...",2Fp1N6dof0Y
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b...",-nh9rCzPJ20
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b...",06I63_p-2A4
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b...",_JGmemuINww

In [ ]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

house_title=[]
location=[]
Area=[]
Emi=[]
Price=[]
Temp2=[]
Temp1=[]
Temp3=[]

Title = soup.select('h2.heading-6.font-semi-bold.nb__1AShY')
for i in Title:
  house_title.append(i.text.replace('\n', ''))

Loc = soup.select('div.nb__35Ol7')
for i in Loc:
  location.append(i.text.replace('\n', ''))
location

Tempp = soup.select('div.font-semi-bold.heading-6')
for i in Tempp:
  Temp1.append(i.text.replace('\n', '').replace('â\x82¹',''))
len(Temp1)

Area = Temp1[0:30:3]
Emi = Temp1[1:30:3]
Price = Temp1[2:30:3]

import pandas as pd
NoBroker = pd.DataFrame({})
NoBroker['House Title']=house_title
NoBroker['Location']=location
NoBroker['Area ']=Area
NoBroker['Emi']=Emi
NoBroker['Price']=Price
NoBroker

In [ ]:
#send get request to the webpage server to get the source code of the page
page = requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
# page content
soup=BeautifulSoup(page.content)

name=[]
for i in soup.find_all("div", class_="restnt-info cursor"):
    name.append(i.text)
location=[]
for i in soup.find_all("div", class_="restnt-loc ellipsis"):
    location.append(i.text)

price = []
cuisine = []
for i in soup.find_all("span", class_="double-line-ellipsis"):
    price.append(i.text.split('|')[0])
    cuisine.append(i.text.split('|')[1])

rating=[]
for i in soup.find_all("div", class_="restnt-rating rating-3"):
    rating.append(i.text)
for i in soup.find_all("div", class_="restnt-rating rating-4"):
    rating.append(i.text)

images = []
for i in soup.find_all("img", class_="no-img"):
    images.append(i['data-src'])

    # Make data frame
DineOut=pd.DataFrame({})
DineOut['Restaurant Name']=name
DineOut['Location']=location
DineOut['Price']=price 
DineOut['Cuisine']=cuisine  
DineOut['Rating']=rating  
DineOut['IMAGES']=images
DineOut

In [ ]:
page = requests.get("https://www.bewakoof.com/women-tshirts?ga_q=tshirts")
# page content
soup=BeautifulSoup(page.content)
# scraping the product name
product_name = [] # creating empty list
for i in soup.find_all('div',class_="productCardDetail")[:10]: 
    product_name.append(i.text)

# scraping the product price   
price = []
for i in soup.find_all('span',class_="discountedPriceText")[:10]: 
    price.append(i.text)
    
# scraping the image_url 
image_url = []
for i in soup.find_all('img',class_="productImgTag")[:10]: 
    image_url.append(i.get('src'))    
# Creating data frame 
import pandas as pd
df = pd.DataFrame({'Product_Name':product_name,'Price':price,'Image_url':image_url})
df